.list-group-flush .list-group-item > div {
  padding: 0.3vw 0;
  width: 10vw;
  height: 2.2vw;
  font-size: 1vw;
  /* background-color: rebeccapurple; */
  text-align: center;
}
.list-group-flush .list-group-item > div:first-of-type {
  margin: 0 0.5vw;
  width: 32vw;
  /* background-color: rebeccapurple; */
  text-align: left;
}
.name {
  padding: 0.1vw 0.5vw;
}
.list-group-flush .list-group-item > div:last-of-type {
  width: 8vw;
  margin-top: -0.25vw;
}
.list-group-flush .btn {
  height: 2.2vw !important;
  padding: 0;
  width: 7vw !important;
}
ul li:nth-child(even) {
  background-color: rgba(67, 48, 154, 0.2);
}
.btn {
  font-size: 0.8vw;
}
