.list-group-flush .list-group-item > div {
  margin: 0 0.5vw;
  width: 8vw;
  /* background-color: rebeccapurple; */
  text-align: center;
}
.list-group-flush .list-group-item > div:first-of-type {
  margin: 0 0.5vw;
  width: 30vw;
  /* background-color: rebeccapurple; */
  text-align: left;
}
.list-group-flush .btn {
  height: 2.2vw !important;
  padding: 0;
  width: 7vw !important;
}
ul li:nth-child(even) {
  background-color: rgba(67, 48, 154, 0.2);
}
