<div class="wrapper">
  <div class="form-group">
    <input
      type="text"
      autocomplete="off"
      id="departTime"
      class="form-control search-field departTime"
      placeholder="Start date"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      autocomplete="off"
      id="returnTime"
      class="form-control search-field returnTime"
      placeholder="Return date"
    />
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Flight esimation time"
      value=""
    />
  </div>

  <div class="form-group">
    <select class="form-control">
      <option value="0">Select discount</option>
      <option *ngFor="let discount of allDiscounts" value="{{ discount }}"
        >{{ discount }}%</option
      >
    </select>
  </div>

  <div class="form-group">
    <select class="form-control">
      <option value="0">Select plane type</option>
      <option
        *ngFor="let seatConfiguration of allSeatConfigurations"
        value="{{ seatConfiguration.name }}"
        >{{ seatConfiguration.name }}</option
      >
    </select>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Flight esimation time"
      value=""
    />
  </div>

  <div class="form-group">
    <h6>Check flight destinations:</h6>
    <div *ngFor="let destination of allDestinations" class="fleft checkbox">
      <span><input type="checkbox" value="{{ destination.id }}" /></span>
      <span>{{ destination.info() }}</span>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Flight price"
      value=""
    />
  </div>

  <button class="btn btn-success fright">Save info</button>
</div>
