<div class="wrapper">
  <div class="form-group overflow-hidden">
    <input
      type="text"
      autocomplete="off"
      id="departTime"
      class="form-control search-field departTime short-input short-margin fleft"
      placeholder="Start date"
    />

    <input
      type="text"
      autocomplete="off"
      id="departTime"
      class="form-control search-field departTime short-input short-margin fleft"
      placeholder="Start time"
    />

    <input
      type="text"
      autocomplete="off"
      id="returnTime"
      class="form-control search-field returnTime short-input short-margin fleft"
      placeholder="Return date"
    />

    <input
      type="text"
      autocomplete="off"
      id="returnTime"
      class="form-control search-field returnTime short-input fleft"
      placeholder="Return time"
    />
  </div>

  <div class="form-group overflow-hidden">
    <input
      type="text"
      class="form-control short-input short-margin fleft"
      placeholder="Flight esimation time"
      value=""
    />

    <input
      type="text"
      class="form-control short-input short-margin fleft"
      placeholder="Distance"
      value=""
    />

    <select class="form-control short-input short-margin fleft">
      <option value="0">Select discount</option>
      <option *ngFor="let discount of allDiscounts" value="{{ discount }}"
        >{{ discount }}%</option
      >
    </select>

    <select class="form-control short-input fleft">
      <option value="0">Select plane type</option>
      <option
        *ngFor="let seatConfiguration of allSeatConfigurations"
        value="{{ seatConfiguration.name }}"
        >{{ seatConfiguration.name }}</option
      >
    </select>
  </div>

  <div class="form-group">
    <h6>Check flight destinations:</h6>
    <div *ngFor="let destination of allDestinations" class="fleft checkbox">
      <span><input type="checkbox" value="{{ destination.id }}" /></span>
      <span>{{ destination.info() }}</span>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Flight price"
      value=""
    />
  </div>

  <button (click)="createFlight()" class="btn btn-success fright">
    Create Flight
  </button>
</div>
