<div id="seat-selector" class="col_sm_12">
  <div class="row" *ngFor="let row of seats; let raw_index = index">
    <div
      *ngFor="let seat of row.seats; let seat_index = index"
      class="seat free-seat no-select"
      [ngClass]="{
        'path-margin':
          seat_index === formValues[2] - 1 ||
          seat_index === formValues[2] + formValues[3] - 1 ||
          seat_index === formValues[2] + formValues[3] + formValues[4] - 1 ||
          seat_index ===
            formValues[2] + formValues[3] + formValues[4] + formValues[5] - 1,
        'taken-seat': seat.taken
      }"
      (click)="onSeatClick($event)"
    >
      {{ seat.seat_no }}
    </div>
  </div>
</div>
