#seat-selector {
  margin: 0 auto;
  min-height: 20vw;
}
.row {
  display: flex;
  margin: 0.5vw 0;
}
.row div {
  display: flex;
  width: 2.55vw;
  height: 2.55vw;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid #000;
  border-radius: 0.5vw 0.5vw 0 0;
  font-size: 1.2vw;
  font-weight: bold;
}
.row div:hover {
  cursor: pointer;
}
.free-seat {
  color: wheat;
  background-color: #43309a;
}
.taken-seat {
  color: #fff;
  background-color: #f61112;
}
.path-margin {
  margin-right: 1.8vw;
}
