<div id="panel-wrapper" class="overflow-hidden">
  <div id="admin-side-nav" class="fleft">
    <ul>
      <li class="active">
        <a routerLink="edit-company" class="overflow-hidden">
          <img src="../../assets/site/icons/home-white.png" class="fleft" />
          <span class="fleft">Company Details</span>
        </a>
      </li>

      <li>
        <a routerLink="cars" class="overflow-hidden">
          <img src="../../assets/site/icons/car-white.png" class="fleft" />
          <span class="fleft">Cars</span>
        </a>
      </li>

      <li>
        <a routerLink="price-list" class="overflow-hidden">
          <img
            src="../../../../assets/site/icons/014-shopping-cart.png"
            class="fleft"
          />
          <span class="fleft">Price List</span>
        </a>
      </li>
      <li>
        <a routerLink="statistics" class="overflow-hidden">
          <img
            src="../../../../assets/site/icons/005-settings.png"
            class="fleft"
          />
          <span class="fleft">Statistics</span>
        </a>
      </li>
      <li>
        <a routerLink="admin-profile" class="overflow-hidden">
          <img src="../../../../assets/face.png" class="fleft" />
          <span class="fleft">Edit Profile</span>
        </a>
      </li>
    </ul>
  </div>

  <!--Car admin komponente se renderuju ovde-->
  <div id="admin-content" class="fright">
    <router-outlet></router-outlet>
  </div>
</div>
