@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

.company-pic {
  width: 200px;
  height: 100px;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
  font-family: "Roboto Sans-Serif";
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  font-family: "Roboto Sans-Serif";
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*Lading Page Section*/

.home-inner {
  /*background-image: url("../../../../assets/landing-photo.jpg");*/
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(64, 44, 151, 0.3);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 5%;
  z-index: 1;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto Sans-Serif";
}
.caption h1 {
  margin-top: 2.5vw;
  font-size: 4.2vw;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem #fff;
  padding-bottom: 1rem;
  font-family: "Roboto Sans-Serif";
  color: #43309a;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #fff;
  padding-bottom: 1.6rem;
}
.btn-lg {
  margin-top: 7vw;
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.btn-lg:hover {
  font-size: 1rem;
  /* background: transparent; */
  background-color: rgba(64, 44, 151, 0.6);
  color: #fff;
}

.scroll-prompt {
  position: fixed;
  z-index: 998;
  bottom: -80px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 160px;
}
.scroll-prompt-arrow-container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -18px;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.scroll-prompt-arrow {
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.scroll-prompt-arrow:last-child {
  animation-direction: reverse;
  margin-top: -6px;
}
.scroll-prompt-arrow > div {
  width: 36px;
  height: 36px;
  border-right: 8px solid #bebebe;
  border-bottom: 8px solid #bebebe;
  transform: rotate(45deg) translateZ(1px);
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(3px);
  }

  20% {
    transform: translateY(6px);
  }

  30% {
    transform: translateY(9px);
  }

  40% {
    transform: translateY(12px);
  }

  50% {
    transform: translateY(15px);
  }

  60% {
    transform: translateY(18px);
  }

  70% {
    transform: translateY(21px);
  }

  80% {
    transform: translateY(24px);
  }

  90% {
    transform: translateY(27px);
  }

  100% {
    transform: translateY(30px);
  }
}

/*.btn-secondary{
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}
.btn-secondary:hover{
  background-color: #189582;
  border-color: #189582;
}
*/

/*USLUGE (SERVICES)*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
  font-family: "Roboto Sans-Serif";
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.usluga svg.svg-inline--fa {
  color: #1ebba3;
}
.usluga h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}

/*ABOUT SEKCIJA*/

/* .fixed {
  background-image: url(img/about-img.jpg);
  z-index: -1;
} */
.purple {
  /* background-color: rgba(0, 0, 0, 0.75); */
  background-color: rgba(64, 44, 151, 0.3);
  color: black;
  padding: 7rem 2rem;
  font-family: "Roboto Sans-Serif";
}
.fixed-background h3 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem;
}
.table {
  color: black;
}
.table tr {
  height: 2vw;
}

.table-padding {
  padding-top: 1.3vw;
}
/*
OVDE GLEDAJ MAMLAZE
*/

/*CONTACT SEKCIJA*/

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li,
.rating-list li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

footer {
  /* background-color: #40474e; */
  color: black;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
  font-family: "Roboto Sans-Serif";
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3 !important;
}
hr.socket {
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 3rem;
}

/*Media Queries*/

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
