<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Mark</th>
        <th scope="col">Description</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of companyCars">
        <td>
          <img
            src="../../../../../assets/logo.PNG"
            class="img-responsive"
            style="width: 5vw; height: 5vh;"
            alt=""
          />
        </td>
        <td>{{ car.mark }}</td>
        <td>{{ car.description }}</td>
        <td>{{ car.year }}</td>
        <td>
          <button
            class="btn btn-success"
            data-toggle="modal"
            data-target="#carEdit"
            (click)="editCarModal(car)"
          >
            Edit
          </button>
        </td>
        <td>
          <button type="button" (click)="deleteCar(car.id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    type="button"
    data-toggle="modal"
    data-target="#addCar"
    (click)="AddCarModal()"
    class="btn btn-info addCarBtn"
  >
    Add New Car
  </button>
</div>

<!--Edit car modal-->

<div
  class="modal fade"
  id="carEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="carEdit"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carEdit">Edit car</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <form class="form">
            <!--Mark-->
            <div class="form-group row">
              <label
                for="mark"
                class="col-md-4 col-form-label badge text-uppercase"
                >Mark:</label
              >
              <div class="col-md-8">
                {{ carToEdit.mark }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="mark"
                  placeholder="Enter new car type"
                  value=""
                />
              </div>
            </div>

            <!--Description-->
            <div class="form-group row">
              <label
                for="desc"
                class="col-md-4 col-form-label badge text-uppercase"
                >Description:</label
              >
              <div class="col-md-8">
                {{ carToEdit.description }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="desc"
                  placeholder="Enter new car description"
                  value=""
                />
              </div>
            </div>

            <!--Year-->
            <div class="form-group row">
              <label
                for="year"
                class="col-md-4 col-form-label badge text-uppercase"
                >Year:</label
              >
              <div class="col-md-8">
                {{ carToEdit.year }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="year"
                  placeholder="Enter year"
                  value=""
                />
              </div>
            </div>

            <!--price-->
            <div class="form-group row">
              <label
                for="price"
                class="col-md-4 col-form-label badge text-uppercase"
                >Price per day:</label
              >
              <div class="col-md-8">
                {{ carToEdit.price }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="price"
                  placeholder="Enter new price"
                  value=""
                />
              </div>
            </div>

            <!--category-->
            <div class="form-group row">
              <label
                for="category"
                class="col-md-4 col-form-label badge text-uppercase"
                >Category:</label
              >
              <div class="col-md-8">
                {{ carToEdit.category }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="category"
                  placeholder="Change category"
                  value=""
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">
            Cancel
          </button>
          <button
            type="button"
            (click)="updateCar()"
            class="btn btn-primary"
            data-dismiss="modal"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add new car modal-->

<div
  class="modal fade"
  id="addCar"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addCar"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="addCar">Add new car</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <form class="form" [formGroup]="addCarForm" (ngSubmit)="AddNewCar()">
            <!--Desc, Mark, Year, Seats, Price(per day), Rating, Category, IsReserved = false-->
            <!--Mark and Desc-->
            <div>
              <div class="form-group">
                <div class="username-icon"></div>
                <input
                  id="mark"
                  type="text"
                  class="form-control"
                  formControlName="mark"
                  placeholder="Mark"
                  value=""
                />
              </div>
              <div class="form-group">
                <div class="username-icon"></div>
                <input
                  id="description"
                  type="text"
                  class="form-control"
                  formControlName="description"
                  placeholder="Description"
                  value=""
                />
              </div>
            </div>
            <!--Year and Seats-->
            <div class="form-row">
              <div class="form-group col-md-2">
                <div class="mail-icon"></div>
                <input
                  id="year"
                  type="text"
                  formControlName="year"
                  class="form-control"
                  placeholder="Year"
                  value=""
                />
              </div>
              <div class="form-group col-md-5">
                <div class="location-icon"></div>
                <input
                  id="seats"
                  type="number"
                  class="form-control"
                  formControlName="seats"
                  placeholder="Number of seats"
                  value=""
                />
              </div>

              <!--Price and category-->

              <div class="form-group col-md-5">
                <div class="mail-icon"></div>
                <input
                  id="price"
                  type="text"
                  formControlName="price"
                  class="form-control"
                  placeholder="Price per day ($)"
                  value=""
                />
              </div>
            </div>
            <div class="form-group">
              <select
                id="category"
                [(ngModel)]="selectedOption"
                name="category"
                formControlName="category"
                class="form-control"
              >
                <option name="basic" value="Basic">Basic</option>
                <option name="plus" value="Plus">Plus</option>
                <option name="pro" value="Pro">Pro</option>
              </select>
            </div>

            <!---->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary">
            Cancel
          </button>
          <button
            type="submit"
            (click)="AddNewCar()"
            [disabled]="!addCarForm.valid"
            class="btn btn-primary"
            data-dismiss="modal"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
