<div class="modal-dialog">
  <div class="main-section">
    <div class="modal-content">
      <!-- <div class="col-12 user-img">
        <img src="../../assets/face.png" alt="profile" />
      </div> -->
      <br />
      <br />
      <div class="col-12 form-input">
        <form [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="username-icon"></div>
            <input
              id="companyName"
              type="text"
              formControlName="companyName"
              class="form-control"
              placeholder="Company name"
            />
          </div>
          <div class="form-group">
            <div class="mail-icon"></div>
            <input
              id="description"
              type="text"
              formControlName="description"
              class="form-control"
              placeholder="Description"
            />
          </div>

          <div class="form-group">
            <select
              id="admin"
              [(ngModel)]="selectedValue"
              name="admin"
              formControlName="admins"
              class="form-control"
            >
              <option *ngFor="let a of admins" [ngValue]="a">{{
                a.email
              }}</option>
            </select>
          </div>

          <div class="form-row">
            <!--show in single line-->
            <div class="form-group col-md-6">
              <div class="location-icon"></div>
              <input
                id="street"
                type="text"
                formControlName="street"
                class="form-control"
                placeholder="Street"
              />
            </div>
            <div class="form-group col-md-6">
              <div class="location-icon"></div>
              <input
                id="city"
                type="text"
                formControlName="city"
                class="form-control"
                placeholder="City"
              />
            </div>
          </div>

          <!--Google mapa-->
          <google-map
            id="map"
            [zoom]="zoom"
            [center]="center"
            height="11vw"
            (mapClick)="placeMarker($event)"
          >
            <map-marker *ngIf="locationChosen" [position]="center"></map-marker>
            <!-- <agm-marker
              *ngIf="locationChosen"
              [latitude]="lat"
              [longitude]="lon"
            ></agm-marker> -->
          </google-map>

          <button
            type="submit"
            [disabled]="!createCompanyForm.valid"
            class="btn btn-success"
          >
            Create Company
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
