<div id="panel-wrapper" class="overflow-hidden">
  <div class="result overflow-hidden">
    <div class="fleft">
      <div>
        <h6>Drive Termin</h6>
        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ reservation.carReservation.startDate }}
        </span>

        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ reservation.carReservation.endDate }}
        </span>
      </div>
    </div>

    <div class="fleft separator">
      <div>
        <h6>Category</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ reservation.carReservation.car.category.toUpperCase() }}
        </span>
      </div>
      <div>
        <h6>Total price</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ reservation.carReservation.price }}$
        </span>
      </div>
    </div>

    <!---->

    <div class="fleft">
      <div>
        <h6>Car</h6>
        <span>
          <img src="../../../../assets/site/icons/car.png" alt="" />
          {{ reservation.carReservation.car.mark }}
        </span>
        <h6>Number of seats</h6>
        <span>
          <img src="../../../../assets/site/icons/seat.png" alt="" />
          {{ reservation.carReservation.car.seats }}
        </span>
      </div>
    </div>

    <div class="fleft separator">
      <div>
        <h6>Our Location</h6>
        <span>
          <img src="../../../../assets/site/icons/location.png" alt="" />
          {{ reservation.carReservation.carCompany.address }},
          {{ reservation.carReservation.carCompany.city }}
        </span>
        <h6>Company rating</h6>
        <span>
          <img src="../../../../assets/site/icons/like.png" alt="" />
          {{ reservation.carReservation.carCompany.rating }}
        </span>
      </div>
    </div>

    <div class="fleft">
      <h6>Company</h6>
      <a
        routerLink="/companies/car-companies/{{
          reservation.carReservation.carCompany.id
        }}"
      >
        <span>
          <img src="../../../../assets/site/icons/car.png" alt="" />
          {{ reservation.carReservation.carCompany.name }}
        </span>
      </a>

      <button class="btn btn-success fright">
        BOOK IT
      </button>
    </div>
  </div>
</div>
