<div id="panel-wrapper" class="overflow-hidder">
  <div id="admin-side-nav" class="fleft">
    <ul>
      <li>
        <img src="../../assets/site/icons/home-white.png" class="fleft" />
        <a routerLink="home" class="fleft">COMPANY PROFILE</a>
      </li>
      <li class="border-separators">
        <img src="../../assets/site/icons/plane-white.png" class="fleft" />
        <a routerLink="flights" class="fleft">DESTINATIONS</a>
      </li>
      <li>
        <img src="../../assets/site/icons/car-white.png" class="fleft" />
        <a routerLink="" class="fleft">FLIGHTS</a>
      </li>

      <li>
        <img src="../../assets/site/icons/home-white.png" class="fleft" />
        <a routerLink="home" class="fleft">DISCOUNT</a>
      </li>
      <li class="border-separators">
        <img src="../../assets/site/icons/plane-white.png" class="fleft" />
        <a routerLink="flights" class="fleft">SEAT CONFIGURATION</a>
      </li>
      <li>
        <img src="../../assets/site/icons/car-white.png" class="fleft" />
        <a routerLink="" class="fleft">PRICE LIST</a>
      </li>
      <li>
        <img src="../../assets/site/icons/home-white.png" class="fleft" />
        <a routerLink="" class="fleft">OTHER</a>
      </li>
    </ul>
  </div>
  <div id="admin-content" class="fright">
    <div class="col-cm">
      <div class="form-group">
        <div class="username-icon"></div>
        <input type="text" class="form-control" placeholder="Naziv" value="" />
      </div>
      <div class="form-group">
        <div class="username-icon"></div>
        <input type="text" class="form-control" placeholder="Adresa" value="" />
      </div>
    </div>

    <div class="col-cm">
      <div class="form-group">
        <div class="username-icon"></div>
        <input
          type="text"
          class="form-control"
          placeholder="Promotivni opis"
          value=""
        />
      </div>
      <div class="form-group">
        <div class="username-icon"></div>
        <input type="text" class="form-control" placeholder="" value="" />
      </div>
    </div>
  </div>
</div>
