#panel-wrapper {
  margin: 0 auto;
  width: 96%;
}
#admin-side-nav {
  width: 20vw;
  border-radius: 0.5vw;
  background-color: #43309a;
}
#admin-side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#admin-side-nav li {
  overflow: hidden;

  margin: 1vw;
}
#admin-side-nav li img {
  width: 1.5vw;
  height: 1.5vw;
}
#admin-side-nav a {
  text-decoration: none;
  font-size: 0.88vw;
  letter-spacing: 0.12vw;
  display: block;
  padding: 1vw 0;
  width: 100%;
  color: #fff;
  margin-left: 1vw;
}
#admin-side-nav a span {
  padding-top: 0.3vw;
  padding-left: 0.5vw;
}
#admin-side-nav li:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
#admin-content {
  width: 74.5vw;
}

.active {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
