<div id="panel-wrapper" class="overflow-hidden">
  <div id="admin-side-nav" class="fleft">
    <ul>
      <li>
        <a routerLink="edit-profile" class="overflow-hidden">
          <img src="../../assets/site/icons/home-white.png" class="fleft" />
          <span class="fleft">AVIOCOMPANY PROFILE</span>
        </a>
      </li>
      <li class="border-separators">
        <a routerLink="destinations" class="overflow-hidden">
          <img src="../../assets/site/icons/plane-white.png" class="fleft" />
          <span class="fleft">DESTINATIONS</span>
        </a>
      </li>
      <li>
        <a routerLink="flights" class="overflow-hidden">
          <img src="../../assets/site/icons/car-white.png" class="fleft" />
          <span class="fleft">FLIGHTS</span>
        </a>
      </li>

      <li>
        <a routerLink="discount" class="overflow-hidden">
          <img src="../../assets/site/icons/home-white.png" class="fleft" />
          <span class="fleft">DISCOUNT</span>
        </a>
      </li>
      <li class="border-separators">
        <a routerLink="seat-config" class="overflow-hidden">
          <img src="../../assets/site/icons/plane-white.png" class="fleft" />
          <span class="fleft">SEAT CONFIGURATION</span>
        </a>
      </li>
      <li>
        <a routerLink="price-list" class="overflow-hidden">
          <img src="../../assets/site/icons/car-white.png" class="fleft" />
          <span class="fleft">PRICE LIST</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="admin-content" class="fright">
    <router-outlet></router-outlet>
  </div>
</div>
