<div class="fleft">
  <div id="seat-selector" class="col_sm_12">
    <div class="row" *ngFor="let row of rows; let raw_index = index">
      <div
        *ngFor="let seat of row.seats; let seat_index = index"
        class="seat free-seat no-select"
        [ngClass]="{
          'path-margin': seat_index === 1 || seat_index === 5,
          'taken-seat': seat.taken
        }"
        (click)="onSeatClick($event)"
      >
        {{ seat.seat_no }}
      </div>
    </div>
  </div>
</div>

<div id="data" class="fright">
  <div class="form-group">
    <div class="username-icon"></div>
    <input
      type="text"
      class="form-control"
      placeholder="Company name"
      value=""
    />
  </div>
  <div class="form-group">
    <div class="username-icon"></div>
    <input type="text" class="form-control" placeholder="Address" value="" />
  </div>

  <div class="form-group">
    <textarea class="form-control" placeholder="Promo description"></textarea>
  </div>

  <button class="btn btn-success fright">Save info</button>
</div>
