@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  /* background: url(assets/avio_background.jpg) no-repeat center center fixed; */
  background: url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80")
    no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
.transparent {
  opacity: 0;
}
