@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  /* background: url(assets/avio_background.jpg) no-repeat center center fixed; */
  background: url(./assets/background3.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
.transparent {
  opacity: 0;
}
.btn-success {
  background: rgba(63, 43, 150, 0.8) !important;
  height: 2.8vw;
  font-size: 1vw;
  padding: 0;
}

.btn-success:hover {
  opacity: 0.85;
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-group > .form-control {
  border: 0.15vw solid rgba(63, 43, 150, 1);
}
