.profile {
  width: 100% !important;
}

.profile > div {
  margin-top: 7vh;
  padding: 0.4vw;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(222, 232, 243, 0.4);
  height: 76vh;
  border-radius: 10px;
  height: 72vh;
}
#info {
  position: relative;
  width: 29vw;
  margin-left: 2%;
}
#info .btn {
  margin: 0 9.4vw;
}
#info .btn > div {
  margin-top: 0.15vw !important;
}
#info .btn img {
  width: 1.4vw;
  margin-top: 0.2vw;
  margin-right: 0.7vw;
}
#info hr {
  color: #000;
  width: 80%;
  height: 1vw;
  margin: 6vw auto 0vw auto;
}
.info-item {
  height: 3vw;
  width: 80%;
  color: #fff;
  text-align: center;
  font-size: 1vw;
  background-color: rgba(67, 48, 154, 0.8);
  padding: 0.8vw;
  margin: 1vw auto;
  border-radius: 0.3vw;
}
.info-item div img {
  width: 1.2vw;
}
.border-bottom {
  border-bottom: 2px solid rgba(67, 48, 154, 0.8);
}
.info-item:first- {
  font-weight: bold;
}
#pr-picture {
  position: absolute;
  top: -4vw;
  left: 10vw;
  background-color: #fff;
  background-image: url("../../../assets/face.png");
  background-size: cover;
  margin: 0 auto;
  width: 9vw;
  height: 9vw;
  border-radius: 6vw;
}
#pr-picture > div {
  margin: 0 auto;
  background-image: url("../../../assets/site/icons/033-photo-camera-w.png");
  background-position: center center;
  background-size: 30%;
  background-repeat: no-repeat;
  border-radius: 0 0 6vw 6vw;
  margin-top: 50%;
  width: 92%;
  height: 47%;
  background-color: rgba(67, 48, 154, 0.8);
}

#pr-panel {
  width: 65vw;
  margin-right: 2%;
  padding: 1.4vw 2vw;
}
.list-group-horizontal .list-group-item {
  display: inline-block !important;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}
.list-group {
  background-color: transparent !important;
  width: 100%;
  height: 3vw;
  margin: 10px auto !important;
  display: inline-block;
}
.list-group a {
  width: 25%;
  text-decoration: none;
  font-size: 1.2vw;
  height: 3vw;
  padding: 0.5vw;
  text-align: center;
  color: rgba(67, 48, 154, 0.8);
}
.list-group a:hover {
  background-color: rgba(67, 48, 154, 0.2);
}
.list-group .active {
  background-color: rgba(67, 48, 154, 0.8);
  color: #fff;
}
.list-group-item {
  overflow: hidden;
}
.list-group-item > div {
  margin-right: 2.5vw;
}
.list-group-item > div:first-of-type {
  float: left;
  height: 1.8vw;
  width: 1.8vw;
  margin-left: 2.5vw;
  margin-right: 0;
}

/*  */

#friends {
  background-image: url("../../../assets/site/icons/avatar-male.png");
  background-size: cover;
}
.active #friends {
  background-image: url("../../../assets/site/icons/avatar-male-white.png") !important;
  background-size: cover;
}
#friends-tag:hover #friends {
  background-image: url("../../../assets/site/icons/avatar-male.png") !important;
  background-size: cover;
  color: rgba(67, 48, 154, 0.8);
}
#friends-tag:hover {
  color: #43309a;
}
/*  */

#activity {
  background-image: url("../../../assets/site/icons/activity.png");
  background-size: cover;
}
.active #activity {
  background-image: url("../../../assets/site/icons/activity-white.png");
  background-size: cover;
}
#activity-tag:hover #activity {
  background-image: url("../../../assets/site/icons/activity.png");
  background-size: cover;
  color: #43309a;
}
#activity-tag:hover {
  color: #43309a;
}
/*  */

#reservations {
  background-image: url("../../../assets/site/icons/reservations.png");
  background-size: cover;
}
.active #reservations {
  background-image: url("../../../assets/site/icons/reservations-white.png");
  background-size: cover;
}
#reservations-tag:hover #reservations {
  background-image: url("../../../assets/site/icons/reservations.png");
  background-size: cover;
}
#reservations-tag:hover {
  color: #43309a;
}
/*  */

#edit {
  background-image: url("../../../assets/site/icons/edit.png");
  background-size: cover;
}
.active #edit {
  background-image: url("../../../assets/site/icons/edit-white.png");
  background-size: cover;
}
#edit-tag:hover #edit {
  background-image: url("../../../assets/site/icons/edit.png");
  background-size: cover;
}
#edit-tag:hover {
  color: #43309a;
}
