<div class="profile">
  <div id="info" class="fleft">
    <div
      id="pr-picture"
      (mouseenter)="onProfilePictureHover()"
      (mouseleave)="onProfilePictureLeave()"
    >
      <div
        id="photo-icon"
        class="transparent"
        (click)="onProfilePictureClick()"
      ></div>
    </div>
    <hr />
    <div class="info-item">
      <div class="fleft">
        <img src="../../../assets/site/icons/avatar-male-white.png" />
      </div>
      <div>Vukasin Radic</div>
    </div>
    <div class="info-item">
      <div class="fleft">
        <img src="../../../assets/site/icons/mail-white.png" />
      </div>
      <div>vule993@outlook.com</div>
    </div>
    <div class="info-item">
      <div class="fleft">
        <img src="../../../assets/site/icons/location-white.png" />
      </div>
      <div>Ljubinke Bobic 11. Novi Beograd</div>
    </div>
    <div class="info-item">
      <div class="fleft">
        <img src="../../../assets/site/icons/phone-white.png" />
      </div>
      <div>065/523-0691</div>
    </div>
  </div>
  <div id="pr-panel" class=" fright">
    <div class="list-group list-group-horizontal clear">
      <a href="#" id="friends-tag" class="list-group-item"
        ><div id="friends"></div>
        <div>Friends</div>
      </a>
      <a href="#" id="activity-tag" class="list-group-item active"
        ><div id="activity"></div>
        <div>Activity</div></a
      >
      <a href="#" id="reservations-tag" class="list-group-item"
        ><div id="reservations"></div>
        <div>Reservations</div></a
      >
      <a href="#" id="edit-tag" class="list-group-item"
        ><div id="edit"></div>
        <div>Edit profile</div></a
      >
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item overflow-hidden">
        <div class="fleft">
          <img src="../../../assets/site/icons/location.png" width="23" />
          Brasil, Rio de Janeiro
        </div>
        <div class="fleft">24-Jan-2018</div>
        <div class="fleft">
          <img src="../../../assets/site/icons/seat.png" width="23" />
          24c
        </div>
        <div class="fleft">
          <button class="btn btn-primary">Intite</button>
        </div>
      </li>

      <li class="list-group-item">
        <div class="fleft">
          <img src="../../../assets/site/icons/location.png" width="23" />
          China, Bejing
        </div>
        <div class="fleft">20-Sep-2018</div>
        <div class="fleft">
          <img src="../../../assets/site/icons/seat.png" width="23" />
          4c
        </div>
        <div class="fleft">
          <button class="btn btn-primary">Intite</button>
        </div>
      </li>
      <li class="list-group-item">
        <div class="fleft">
          <img src="../../../assets/site/icons/location.png" width="23" />
          Russia, Moscow
        </div>
        <div class="fleft">11-Sep-2017</div>
        <div class="fleft">
          <img src="../../../assets/site/icons/seat.png" width="23" />
          01d
        </div>
        <div class="fleft">
          <button class="btn btn-primary">Intite</button>
        </div>
      </li>
      <li class="list-group-item">
        <div class="fleft">
          <img src="../../../assets/site/icons/location.png" width="23" />
          Australia, Melbourne
        </div>
        <div class="fleft">04-Feb-2016</div>
        <div class="fleft">
          <img src="../../../assets/site/icons/seat.png" width="23" />
          13d
        </div>
        <div class="fleft">
          <button class="btn btn-primary">Intite</button>
        </div>
      </li>
      <li class="list-group-item">
        <div class="fleft">
          <img src="../../../assets/site/icons/location.png" width="23" />
          France, Paris
        </div>
        <div class="fleft">11-Dec-2015</div>
        <div class="fleft">
          <img src="../../../assets/site/icons/seat.png" width="23" />
          32a
        </div>
        <div class="fleft">
          <button class="btn btn-primary">Intite</button>
        </div>
      </li>
    </ul>
  </div>
</div>
