<!--2 SLIDERA: 1.avio-list  2.cars-list-->
<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <span
      >Ovde ce biti slider sa avio kompanijama <br />
      Lorem ipsum dolor sit amet

      <br />
      <br />
      <hr />
      <hr />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita eaque
      accusantium in quasi perferendis magnam suscipit quisquam, mollitia
      eligendi similique, pariatur veritatis excepturi harum recusandae amet.
      Obcaecati sequi rerum rem eius debitis architecto perspiciatis at
      doloremque aliquid temporibus. Deleniti eos neque quisquam accusantium vel
      quae saepe ab. Maiores, unde id.
    </span>
  </div>
  <br />
  <hr />
  <br />
  <div class="row justify-content-center">
    <app-cars-list></app-cars-list>
  </div>
</div>
