<div class="col-cm" *ngIf="dataLoaded">
  <form
    id="editCarCompanyForm"
    [formGroup]="editCompanyForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <div class="username-icon"></div>
      <input
        type="text"
        class="form-control"
        formControlName="companyName"
        placeholder="Company name"
        value="{{ carCompany.name }}"
      />
    </div>
    <div class="form-group">
      <div class="username-icon"></div>
      <input
        type="text"
        class="form-control"
        formControlName="companyAddress"
        placeholder="Company address"
        value="{{ carCompany.address }}"
      />
    </div>

    <div class="form-group">
      <textarea
        form="editCarCompanyForm"
        class="form-control"
        formControlName="description"
        placeholder="About Company"
        >{{ carCompany.description }}</textarea
      >
    </div>
    <div class="form-group">
      <button
        type="submit"
        [disabled]="!editCompanyForm.valid"
        class="btn btn-success fright"
      >
        Save info
      </button>
    </div>
  </form>
</div>
