<div class="col-cm" *ngIf="dataLoaded">
  <form id="editCarCompanyForm">
    <div class="form-group">
      <div class="username-icon"></div>
      <input
        type="text"
        class="form-control"
        placeholder="Company name"
        value="{{ carCompany.name }}"
      />
    </div>
    <div class="form-group">
      <div class="username-icon"></div>
      <input
        type="text"
        class="form-control"
        placeholder="Company address"
        value="{{ carCompany.address }}"
      />
    </div>

    <div class="form-group">
      <textarea
        form="editCarCompanyForm"
        class="form-control"
        placeholder="About Company"
        >{{ carCompany.description }}</textarea
      >
    </div>
    <div class="form-group">
      <button class="btn btn-success fright">Save info</button>
    </div>
  </form>
</div>
