#pr-panel {
  width: 70vw;
  margin-right: 2%;
  padding: 1.4vw 2vw;
}
.list-group-horizontal .list-group-item {
  display: inline-block !important;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0vw;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 0.5vw;
  border-bottom-left-radius: 0vw;
}
.list-group {
  background-color: transparent !important;
  width: 100%;
  height: 2.5vw;
  margin: 0.5vw auto 0 auto !important;
  display: inline-block;
}
.list-group a {
  width: 25%;
  text-decoration: none;
  font-size: 1.2vw;
  height: 2.7vw;
  padding: 0.4vw;
  text-align: center;
  color: rgba(67, 48, 154, 0.8);
}
.list-group a:hover {
  background-color: rgba(67, 48, 154, 0.2);
}
.list-group .active {
  background-color: rgba(67, 48, 154, 0.8);
  color: #fff;
}
.list-group-item {
  overflow: hidden;
}
.list-group-item > div {
  margin-right: 2.5vw;
}
.list-group-item > div:first-of-type {
  float: left;
  height: 1.8vw;
  width: 1.8vw;
  margin-left: 2.5vw;
  margin-right: 0;
}

/*  */

#friends {
  background-image: url("../../../../assets/site/icons/avatar-male.png");
  background-size: cover;
}
.active #friends {
  background-image: url("../../../../assets/site/icons/avatar-male-white.png") !important;
  background-size: cover;
}
#friends-tag:hover #friends {
  background-image: url("../../../../assets/site/icons/avatar-male.png") !important;
  background-size: cover;
  color: rgba(67, 48, 154, 0.8);
}
#friends-tag:hover {
  color: #43309a;
}
/*  */

#activity {
  background-image: url("../../../../assets/site/icons/activity.png");
  background-size: cover;
}
.active #activity {
  background-image: url("../../../../assets/site/icons/activity-white.png");
  background-size: cover;
}
#activity-tag:hover #activity {
  background-image: url("../../../../assets/site/icons/activity.png");
  background-size: cover;
  color: #43309a;
}
#activity-tag:hover {
  color: #43309a;
}
/*  */

#reservations {
  background-image: url("../../../../assets/site/icons/reservations.png");
  background-size: cover;
}
.active #reservations {
  background-image: url("../../../../assets/site/icons/reservations-white.png");
  background-size: cover;
}
#reservations-tag:hover #reservations {
  background-image: url("../../../../assets/site/icons/reservations.png");
  background-size: cover;
}
#reservations-tag:hover {
  color: #43309a;
}
/*  */

#edit {
  background-image: url("../../../../assets/site/icons/edit.png");
  background-size: cover;
}
.active #edit {
  background-image: url("../../../../assets/site/icons/edit-white.png");
  background-size: cover;
}
#edit-tag:hover #edit {
  background-image: url("../../../../assets/site/icons/edit.png");
  background-size: cover;
}
#edit-tag:hover {
  color: #43309a;
}
