<div class="slider">
  <div class="load"></div>
  <div class="content">
    <div class="principal">
      <div class="header">
        <div class="form form-group">
          <h1>Where to travel next?</h1>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="return"
              name="tickets"
              class="custom-control-input"
              checked
            />
            <label class="custom-control-label" for="return"
              >Return Ticket</label
            >
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="oneWay"
              name="tickets"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="oneWay">One Way</label>
          </div>
          <div class="form-box">
            <input
              type="text"
              class="search-field sourceLocation"
              placeholder="From"
            />

            <input
              type="text"
              class="search-field destinationLocation"
              placeholder="To"
            />
            <!-- <input
              type="date"
              class="search-field departTime"
              placeholder="depart"
            />
            <input
              type="date"
              class="search-field returnTime"
              placeholder="return"
            /> -->

            <input
              type="text"
              autocomplete="off"
              id="departTime"
              class="search-field departTime"
              placeholder="depart time"
            />
            <input
              type="text"
              autocomplete="off"
              id="returnTime"
              class="search-field returnTime"
              placeholder="return time"
            />

            <button class="btn btn-success" type="button">
              Search Flights
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
