<div class="wrapper">
  <div class="add-item overflow-hidden">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Enter location"
        value=""
      />
    </div>

    <button class="btn btn-success fright">Add location</button>
  </div>
  <div class="overflow-hidden">
    <div class="item">
      <span class="fleft">Sao Paolo, Brasil</span>
      <a href="" class="overflow-hidden">
        <img
          class="fright"
          src="../../../../../assets/site/icons/cancel.png"
          alt=""
        />
      </a>
    </div>

    <div class="item">
      <span class="fleft">Belgrade, Serbia</span>
      <a href="" class="overflow-hidden">
        <img
          class="fright"
          src="../../../../../assets/site/icons/cancel.png"
          alt=""
        />
      </a>
    </div>

    <div class="item">
      <span class="fleft">New York, United states of America</span>
      <a href="" class="overflow-hidden">
        <img
          class="fright"
          src="../../../../../assets/site/icons/cancel.png"
          alt=""
        />
      </a>
    </div>

    <div class="item">
      <span class="fleft">Rome, Italy</span>
      <a href="" class="overflow-hidden">
        <img
          class="fright"
          src="../../../../../assets/site/icons/cancel.png"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
