.modal-dialog {
  display: flex;
}
.main-section {
  margin: 0 auto;
  margin-top: 2vw;
  padding: 0;
  text-align: center;
}

.modal-content {
  justify-content: center;
  align-items: center;
  /* background-color: rgba(67, 78, 90, 0.8); */
  background-color: rgba(222, 232, 243, 0.2);
  padding: 0 20px;
  border-radius: 10px;
  margin-top: -15px;
}

.user-img img {
  height: 7.5vw;
  width: 7.5vw;
}

.user-img {
  margin-top: -4vw;
  margin-bottom: 2.5vw;
}

.form-group {
  position: relative;
  margin-bottom: 1vw;
  /* height: 25px; */
}
.form-group > div {
  position: absolute;
  top: 0.5vw;
  left: 1vw;
  width: 1.6vw;
  height: 1.6vw;
}

/*  */
.form-group .username-icon {
  background-image: url("../../../assets/site/icons/avatar-male.png");
  background-size: cover;
}
.form-group .password-icon {
  background-image: url("../../../assets/site/icons/lock.png");
  background-size: cover;
}
.form-group .mail-icon {
  background-image: url("../../../assets/site/icons/mail.png");
  background-size: cover;
}
.form-group .location-icon {
  background-image: url("../../../assets/site/icons/location.png");
  background-size: cover;
}
.form-group .phone-icon {
  background-image: url("../../../assets/site/icons/phone.png");
  background-size: cover;
}

.form-group input {
  height: 3.2vw;
  border-radius: 5px;

  font-size: 1.2vw;
  padding-left: 54px;
  border: 2px solid #3f2b96;
  background-color: white;
  color: black;
}

.form-group::before {
  font-family: "Font Awesome\ 5 Free";
  /* content: "\f1fa"; */
  position: absolute;
  font-size: 22px;
  left: 28px;
  padding-top: 0px;
  color: #555e60;
  color: #3f2b96;
}

.btn {
  font-size: 1.2vw;
}
.form-input button {
  width: 40%;
  margin: 2vw 0;
  background: #3f2b96;
}

.btn-success:hover {
  border: 1px solid #daf1ff;
}

.forgot {
  padding: 5px 0 25px;
}

.forgot a {
  color: #000;
}

/*validation*/
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
