<ul class="list-group list-group-flush overflow-auto">
  <li *ngFor="let r of myReservations" class="list-group-item overflow-hidden">
    <div class="fleft">
      <img src="../../../../assets/site/icons/reservations.png" width="23" />
      {{
        r.airlineReservation.flight.destinations[
          r.airlineReservation.flight.destinations.length - 1
        ].city +
          "," +
          r.airlineReservation.flight.destinations[
            r.airlineReservation.flight.destinations.length - 1
          ].country
      }}
    </div>
    <div class="fleft">
      car:
      {{ r.carReservation.car.mark }}
    </div>

    <div *ngIf="r.airlineReservation.rating == 0" class="fleft">
      <div class="form-group">
        <select
          id="id{{ r.id }}"
          (change)="rateFlight('#id' + r.id, r)"
          class="form-control"
        >
          <option value="*">Rate</option>
          <option *ngFor="let star of stars" value="{{ star }}">
            {{ star }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="r.carReservation.car.rating == 0" class="fleft">
      <div class="form-group">
        <select
          id="id{{ r.carReservation.car.id }}"
          (change)="rateCar('#id' + r.carReservation.car.id, r)"
          class="form-control"
        >
          <option value="*">Rate</option>
          <option *ngFor="let star of stars" value="{{ star }}">
            {{ star }}
          </option>
        </select>
      </div>
    </div>

    <div
      *ngIf="r.airlineReservation.rating > 0"
      class="rating fleft overflow-hidden"
    >
      <div
        *ngFor="let star of stars"
        class="star fleft"
        [ngClass]="{ starChecked: r.airlineReservation.rating >= star }"
      ></div>
    </div>

    <div
      *ngIf="r.carReservation.car.rating > 0"
      class="rating fleft overflow-hidden"
    >
      <div
        *ngFor="let star of stars"
        class="star fleft"
        [ngClass]="{ starChecked: r.carReservation.car.rating >= star }"
      ></div>
    </div>

    <div class="fright">
      {{ r.airlineReservation.flight.startDate }}
    </div>
    <div class="fright">
      <img src="../../../assets/site/icons/seat.png" width="23" />
      {{
        r.airlineReservation.flight.seatConfiguration.seats[
          r.airlineReservation.rowNumber
        ].seats[r.airlineReservation.seatNumber].seatNo
      }}
    </div>
    <!-- <div class="fright">
      <button class="btn btn-success">Invite</button>
    </div> -->
  </li>
</ul>
