<ul class="list-group list-group-flush">
  <li class="list-group-item overflow-hidden">
    <div class="fleft">
      <img src="../../../assets/site/icons/location.png" width="23" />
      Brasil, Rio de Janeiro
    </div>
    <div class="fleft">24-Jan-2018</div>
    <div class="fleft">
      <img src="../../../assets/site/icons/seat.png" width="23" />
      24c
    </div>
    <div class="fleft">
      <button class="btn btn-primary">Invite</button>
    </div>
  </li>

  <li class="list-group-item">
    <div class="fleft">
      <img src="../../../assets/site/icons/location.png" width="23" />
      China, Bejing
    </div>
    <div class="fleft">20-Sep-2018</div>
    <div class="fleft">
      <img src="../../../assets/site/icons/seat.png" width="23" />
      4c
    </div>
    <div class="fleft">
      <button class="btn btn-primary">Invite</button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="fleft">
      <img src="../../../assets/site/icons/location.png" width="23" />
      Russia, Moscow
    </div>
    <div class="fleft">11-Sep-2017</div>
    <div class="fleft">
      <img src="../../../assets/site/icons/seat.png" width="23" />
      01d
    </div>
    <div class="fleft">
      <button class="btn btn-primary">Invite</button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="fleft">
      <img src="../../../assets/site/icons/location.png" width="23" />
      Australia, Melbourne
    </div>
    <div class="fleft">04-Feb-2016</div>
    <div class="fleft">
      <img src="../../../assets/site/icons/seat.png" width="23" />
      13d
    </div>
    <div class="fleft">
      <button class="btn btn-primary">Invite</button>
    </div>
  </li>
  <li class="list-group-item">
    <div class="fleft">
      <img src="../../../assets/site/icons/location.png" width="23" />
      France, Paris
    </div>
    <div class="fleft">11-Dec-2015</div>
    <div class="fleft">
      <img src="../../../assets/site/icons/seat.png" width="23" />
      32a
    </div>
    <div class="fleft">
      <button class="btn btn-primary">Invite</button>
    </div>
  </li>
</ul>
