ul {
  height: 27.5vw;
}
.list-group-flush .list-group-item > div {
  padding: 0.3vw 0;
  width: 10vw;
  height: 3.2vw;
  font-size: 1vw;
  /* background-color: rebeccapurple; */
  text-align: center;
}
.list-group-flush .list-group-item > div:first-of-type {
  margin: 0 0.5vw;
  width: 32vw;
  /* background-color: rebeccapurple; */
  text-align: left;
}
.name {
  padding: 0.1vw 0.5vw;
}
.list-group-flush .list-group-item > div:last-of-type {
  width: 7vw;
  margin-top: -0.25vw;
}
.list-group-flush .btn {
  height: 2.2vw !important;
  padding: 0;
  width: 7vw !important;
}
ul li:nth-child(even) {
  background-color: rgba(67, 48, 154, 0.2);
}
.btn {
  font-size: 0.8vw;
}
.rating {
  margin: 0 !important;
}
#rate {
  padding: 0.1vw !important;
}
.form.group {
  /* width: 1vw !important;
  height: 1vw !important; */
  margin: 0;
  margin-top: -1vw !important;
}
.form-control {
  width: 9.4vw;
  height: 2vw;
  padding: 0 !important;
}

.rating {
  height: 3vw;
}
.star {
  margin: 0.3vw 0.1vw;
  width: 1.7vw;
  height: 1.7vw;
  background-image: url("../../../../assets/site/icons/unstar.png");
  background-repeat: no-repeat;
  background-size: 1.7vw;
}
.starChecked {
  background-image: url("../../../../assets/site/icons/star.png");
}
