#panel-wrapper {
  margin: 0 auto;
  width: 96%;
}
#user-list {
  margin: 0 auto;
  padding: 2vw;
  width: 80vw;
  height: 36vw;
  border-radius: 0.5vw;
  background-color: rgba(222, 232, 243, 0.4);
}
#user-list h3 {
  color: rgba(67, 48, 154, 1);
}
#filter {
  position: relative;
}
#user-list #filter input {
  padding: 0 2vw;
  /* border-radius: 5vw; */
  border-color: rgba(67, 48, 154, 1);
  width: 100%;
  height: 3vw;
}
#filter img {
  width: 2vw;
  height: 2vw;
  position: absolute;
  top: 0.5vw;
  right: 1vw;
}

/**/
.results {
  margin-top: 1vw;
  height: 25vw;
  /* overflow-y: auto; */
}
.results .list-group-item > div {
  padding: 0.3vw 0;
  width: 11vw;
  height: 2.2vw;
  font-size: 1vw;
  /* background-color: rebeccapurple; */
  text-align: center;
}
.results .list-group-item > div:first-of-type {
  margin: 0 0.5vw;
  width: 32vw;
  /* background-color: rebeccapurple; */
  text-align: left;
}
.name {
  padding: 0.1vw 0.5vw;
}
.results .list-group-item > div:last-of-type {
  width: 8vw;
  margin-top: -0.25vw;
}
.results .num {
  width: 3vw;
}

.image {
  margin-top: -0.15vw;
  height: 2vw;
  width: 2vw;
  border-radius: 2vw;
  overflow: hidden;
}
.image img {
  height: 2.5vw;
}
.list-group-flush .btn {
  height: 2.2vw !important;
  padding: 0;
  width: 7vw !important;
}

.list-group-item:nth-child(even) {
  background-color: rgba(67, 48, 154, 0.2);
}
.btn {
  font-size: 0.8vw;
}
