.list-group-flush .list-group-item > div {
  margin: 0 0.5vw;
  width: 10.3585vw;
  /* background-color: rebeccapurple; */
  text-align: center;
}
.list-group-flush .list-group-item > div:first-of-type {
  margin: 0 0.5vw;
  width: 23vw;
  /* background-color: rebeccapurple; */
  text-align: left;
}
.image {
  height: 2vw;
  width: 2vw;
  border-radius: 2vw;
  overflow: hidden;
}
.image img {
  height: 2.5vw;
}
.name {
  padding: 0.5vw;
}
.list-group-flush .btn {
  height: 2.2vw !important;
  padding: 0;
  width: 7vw !important;
}
ul li:nth-child(even) {
  background-color: rgba(67, 48, 154, 0.2);
}
.btn {
  font-size: 0.8vw;
}
