<div class="friends-searchbar">
  <input
    type="text"
    class="form-control"
    placeholder="Search users..."
    value=""
  />
  <button class="btn btn-success">Search</button>
</div>

<ul class="list-group list-group-flush">
  <li *ngFor="let user of friends" class="list-group-item overflow-hidden">
    <div class="fleft">
      <div class="fleft image">
        <img src="{{ checkPhoto(user) }}" />
      </div>
      <div class="name fleft">
        {{ user.firstName + " " + user.lastName }}
      </div>
    </div>
    <div class="fleft">{{ user.status }}</div>
    <div class="fleft">
      {{ user.city }}
    </div>
    <div class="fright">
      <button class="btn btn-success" (click)="removeFriend(user.email)">
        Remove
      </button>
    </div>
  </li>
</ul>
