#panel-wrapper {
  width: 96%;
  margin: 0 auto;
}
h2 {
  width: 100%;
  margin: 0vw auto;
  padding: 2vw 0;
  color: #4d3d9d;
  text-align: center;
}
.result {
  width: 100%;
  color: #4d3d9d;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5vw;
  margin: 1vw 0;
}
.result h6 {
  margin: 0.8vw 0;
}
.result > div {
  margin: 1vw 0;
  padding: 1vw;
  width: 19.1vw;
  max-height: 20vw;
}
.result > div span {
  display: block;
  padding: 0.5vw;
}
.result > div span img {
  width: 2vw;
  height: 2vw;
}
.separator {
  padding: 0 0, 1vw;
  border-left: 0.1vw solid rgba(77, 61, 157, 0.3);
  border-right: 0.1vw solid rgba(77, 61, 157, 0.3);
}
.additional-services {
  margin: 0.5vw 1vw;
}
.result .btn {
  margin-top: 10.3vw;
  width: 100%;
}
#space {
  width: 100%;
  height: 4vw;
}
#proceed {
  width: 100%;
  padding: 6vw 0;
}

#finish {
  width: 100%;
  padding: 6vw 0;
}
