<div id="panel-wrapper" class="overflow-hidden">
  <h2>Reservation details</h2>
  <div class="result overflow-hidden">
    <div class="fleft">
      <div>
        <h6>Flight termin</h6>
        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ reservation.airlineReservation.flight.startDate }}
        </span>

        <span>
          <img src="../../../../assets/site/icons/clock.png" alt="" />
          {{ reservation.airlineReservation.flight.startTime }}
        </span>
      </div>
      <div>
        <h6>Return termin</h6>
        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ reservation.airlineReservation.flight.returnDate }}
        </span>

        <span>
          <img src="../../../../assets/site/icons/clock.png" alt="" />
          {{ reservation.airlineReservation.flight.endTime }}
        </span>
      </div>
    </div>

    <div class="fleft separator">
      <div>
        <h6>Connecting flights number</h6>
        <span>
          <img
            src="../../../../assets/site/icons/connecting-flights.png"
            alt=""
          />
          {{ reservation.airlineReservation.flight.destinations.length }}
        </span>
      </div>
      <div>
        <h6>Flight duration</h6>
        <span>
          <img src="../../../../assets/site/icons/flight-duration.png" alt="" />
          {{ reservation.airlineReservation.flight.estimationTime }}
        </span>
      </div>
      <div>
        <h6>Luggage (kg)</h6>
        <span>
          <img src="../../../../assets/site/icons/suitcase.png" alt="" />
          {{ reservation.airlineReservation.flight.luggage }}
        </span>
      </div>
    </div>

    <!---->

    <div class="fleft">
      <div>
        <h6>Airplane type</h6>
        <span>
          <img src="../../../../assets/site/icons/propeller.png" alt="" />
          {{ reservation.airlineReservation.flight.planeType.name }}
        </span>
      </div>
      <div>
        <h6>Additional services</h6>
        <span>
          <img
            *ngFor="
              let service of reservation.airlineReservation.flight.otherServices.split(
                ','
              )
            "
            class="additional-services"
            src="../../../../assets/site/icons/{{ service }}.png"
            title="{{ service }}"
            alt=""
          />
        </span>
      </div>
    </div>

    <div class="fleft separator">
      <div>
        <h6>Aviocompany</h6>
        <a
          routerLink="/companies/airlines/{{reservation.airlineReservation.flight.company.id}"
        >
          <span>
            <img src="../../../../assets/site/icons/plane.png" alt="" />
            {{ reservation.airlineReservation.flight.company.name }}
          </span>
        </a>
      </div>
      <div>
        <h6>Aviocompany rating</h6>
        <span>
          <img src="../../../../assets/site/icons/like.png" alt="" />
          {{ reservation.airlineReservation.flight.company.likes }}
        </span>
      </div>
      <div>
        <h6>Relation</h6>
        <span>
          <img src="../../../../assets/site/icons/connected.png" alt="" />
          {{
            reservation.airlineReservation.flight.startingDestination
              .airportName
          }}
          -
          {{
            reservation.airlineReservation.flight.endingDestination.airportName
          }}
          asda adsada
        </span>
      </div>
    </div>

    <!---->

    <div class="fleft">
      <div>
        <h6>Flight prize</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ reservation.airlineReservation.flight.price }}$
        </span>
      </div>

      <button class="btn btn-success fright" (click)="proceed()">
        Proceed
      </button>
    </div>
  </div>
  <div id="space"></div>
  <div id="proceed" class="overflow-hidden display-none">
    <app-airline-reservation
      [reservation]="reservation"
    ></app-airline-reservation>
  </div>
  <div class="space"></div>

  <div id="finish">
    <app-car-reservation
      *ngIf="reservation.carReservation != null"
      [reservation]="reservation"
    ></app-car-reservation>
  </div>
</div>
