.card {
  border: none;
  opacity: 0.8;
  z-index: 2;
  border-radius: 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

ul li a {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

ul li a:hover {
  font-weight: 700;
}

.btn {
  background: #3f2b96;
}

.btn:hover {
  opacity: 0.85;
}
