<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-6 col-lg-6" *ngFor="let offerEl of offers">
      <div class="card mb-3" style="width: 20rem">
        <div class="inner">
          <img
            src="{{ offerEl.imagePath }}"
            class="card-img-top img-responsive"
            style="max-height: 150px;"
            alt="travel image"
          />
        </div>
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a
                class="nav-link active"
                style="cursor: pointer;"
                (click)="activateOverview()"
                >Overview</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="activateLocation()"
                style="cursor: pointer;"
                >Location</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="activateServices()"
                style="cursor: pointer;"
                >Services</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body shadow text-center">
          <app-offer-item [offer]="offerEl"></app-offer-item>
        </div>
      </div>
    </div>
  </div>
</div>
