.card {
  border: none;
  background-color: rgba(222, 232, 243, 0.4);
  z-index: 2;
  border-radius: 5px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

ul li a {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

ul li a:hover {
  font-weight: 700;
}
