<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="../../assets/face.png" width="50" alt="profile" />
      </div>

      <div class="col-12 form-input">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div id="username-icon"></div>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <div id="password-icon"></div>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button
            type="submit"
            [disabled]="!loginForm.valid"
            class="btn btn-success"
          >
            Login
          </button>
        </form>

        <button
          (click)="LoginWithGoogle()"
          style="height: 4.5vw;"
          class="btn btn-success"
        >
          Login With Google
        </button>
      </div>

      <div class="col-12 forgot">
        <a href="#">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
