<app-slider [data]="sliderData"></app-slider>

<div class="search overflow-hidden">
  <select id="cars" class="form-control search-field fleft">
    <option value="">Choose car</option>
    <option *ngFor="let car of allCars" value="{{ car.mark }}">
      {{ car.mark }}
    </option>
  </select>

  <input
    type="text"
    autocomplete="off"
    id="startDate"
    class="form-control search-field departTime fleft"
    placeholder="Starting date"
  />
  <input
    type="text"
    autocomplete="off"
    id="endDate"
    class="form-control search-field departTime fleft"
    placeholder="Ending date"
  />

  <button (click)="searchReservations()" class="btn btn-success fleft">
    Search
  </button>

  <img
    class="fright"
    (click)="openFilter()"
    src="../../../../assets/site/icons/filter-white.png"
  />
</div>
<!-- display-none-->
<div class="filter display-none overflow-hidden">
  <select id="company" class="form-control search-field fleft">
    <option value="company">Company</option>
    <option *ngFor="let company of carCompanies" value="{{ company.name }}">
      {{ company.name }}
    </option>
  </select>

  <select id="category" class="form-control search-field fleft">
    <option value="category">Category plan</option>
    <option value="basic">Basic</option>
    <option value="plus">Plus</option>
    <option value="pro">Pro</option>
  </select>

  <button (click)="filterReservations()" class="btn btn-success fleft">
    Filter
  </button>

  <!-- (click)="closeFilter()" -->
  <img
    class="fright"
    (click)="closeFilter()"
    src="../../../../assets/site/icons/close-white.png"
  />
</div>

<div class="results">
  <div
    class="result overflow-hidden"
    *ngFor="let reservation of allReservationsToShow"
  >
    <div class="fleft">
      <div>
        <h6>Drive termin</h6>
        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ reservation.carReservation.startDate }}
        </span>

        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ reservation.carReservation.endDate }}
        </span>
      </div>
      <div>
        <h6>Company</h6>
        <span>
          <img src="../../../../assets/site/icons/car.png" alt="" />
          {{ reservation.carReservation.carCompany.name }}
        </span>

        <span>
          <img src="../../../../assets/site/icons/location.png" alt="" />
          {{ reservation.carReservation.carCompany.address }}
        </span>
      </div>
    </div>

    <div class="fleft separator">
      <div>
        <h6>Choosed car</h6>
        <span>
          <img src="../../../../assets/site/icons/car.png" alt="" />
          {{ reservation.carReservation.car.mark }}
        </span>
      </div>
      <div>
        <h6>Prise</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ reservation.carReservation.price }}$
        </span>
      </div>
    </div>
    <div class="fleft">
      <div>
        <h6>Category plan</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ reservation.carReservation.car.plan.toUpperCase() }}
        </span>
      </div>

      <button class="btn btn-success fright">Book IT</button>
    </div>
  </div>
</div>
