<app-slider [data]="sliderData"></app-slider>

<!-- display-none-->
<div class="filter overflow-hidden">
  <select id="company" class="form-control search-field fleft">
    <option value="company">Company</option>
    <option *ngFor="let company of carCompanies" value="{{ company.name }}">
      {{ company.name == null ? "" : company.name }}
    </option>
  </select>

  <select id="category" class="form-control search-field fleft">
    <option value="category">Category plan</option>
    <option value="basic">Basic</option>
    <option value="plus">Plus</option>
    <option value="pro">Pro</option>
  </select>

  <button (click)="filterReservations()" class="btn btn-success fleft">
    Filter
  </button>

  <!-- (click)="closeFilter()" -->
  <img class="fright" src="../../../../assets/site/icons/filter-white.png" />
</div>

<div class="results" *ngIf="resultsLoaded">
  <div class="result overflow-hidden" *ngFor="let car of allCarsToShow">
    <div class="fleft">
      <div>
        <h6>Mark</h6>
        <span>
          <img src="../../../../assets/site/icons/car.png" alt="" />
          {{ car.mark }}
        </span>
      </div>
      <div>
        <h6>Description</h6>
        <span>
          <img src="../../../../assets/site/icons/description.png" alt="" />
          {{ car.description }}
        </span>
      </div>
    </div>

    <div class="fleft separator">
      <div>
        <h6>Category plan</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ car.category }}
        </span>
      </div>
      <div>
        <h6>Prise (per day)</h6>
        <span>
          <img src="../../../../assets/site/icons/discount.png" alt="" />
          {{ car.price }}$
        </span>
      </div>
    </div>
    <div class="fleft">
      <div>
        <h6>Number of seats</h6>
        <span>
          <img src="../../../../assets/site/icons/seat.png" alt="" />
          {{ car.seats }}
        </span>
      </div>
      <div>
        <h6>Year</h6>
        <span>
          <img src="../../../../assets/site/icons/calendar.png" alt="" />
          {{ car.year }}
        </span>
      </div>

      <a routerLink="/reservation/{{ car.id }}">
        <button class="btn btn-success fright">Book IT</button>
      </a>
    </div>
  </div>
</div>
