h2 {
  width: 100%;
  margin: 0vw auto;
  padding: 2vw 0;
  color: #4d3d9d;
  text-align: center;
}
.wrapper > div {
  width: 58%;
  overflow: hidden;
  border-radius: 0.5vw;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1vw;
}
#seat-picker {
  width: 40%;
}
.wrapper > div > div {
  margin: 0 auto;
}
#friends-selector > #message {
  margin: 0 auto;
  text-align: center;
  color: #4d3d9d;
  font-weight: bold;
}
.friends {
  /* overflow-y: scroll; */
  height: 300px; /*ovo se gazi u ts fajlu*/
}

.friend {
  padding: 1vw;
}
.friend {
  cursor: pointer;
}
.friend div {
  width: 98%;
  height: 2vw;
  margin: 0 1%;
  padding-right: 2.2vw;

  background-size: 2vw;
  background-repeat: no-repeat;
  background-position: right;
}
.check {
  background-image: url("../../../../assets/site/icons/check.png");
  background-repeat: no-repeat;
}
.uncheck {
  background-image: url("../../../../assets/site/icons/uncheck.png");
  background-repeat: no-repeat;
}
.friend:nth-child(even) {
  background-color: #fff;
}
.friend:nth-child(odd) {
  background-color: rgba(67, 48, 154, 0.2);
}
#friends-selector button {
  margin-top: 0.5vw;
}
#rent-a-car {
  padding: 1.3vw;
  color: #4d3d9d;
}
#rent-a-car > label {
  margin-right: 0.5vw;
}
.btn {
  font-size: 1.2vw !important;
}

.form-group {
  width: 100%;
  margin-top: 1vw;
}
.form-group > input {
  width: 22%;
}
.form-group #passportNo {
  width: 16%;
}
.form-group #email {
  width: 31%;
}
/* .form-group > select {
  width: 12%;
  padding: 0.4vw 0.4vw;
}

.third {
  width: 50%;
}
.middle-margin {
  margin: 0 2%;
}
.half {
  width: 48%;
} */
.form-group > button {
  margin: 0 !important;
}
#finish {
  margin-top: 12vw;
}
