<div id="book-flight" class="wrapper overflow-hidden">
  <h2 class="fleft">Choose your seats!</h2>

  <div id="seat-picker" class="fleft overflow-hidden">
    <app-display-seats [currentSeatConfig]="flight?.seatConfiguration">
    </app-display-seats>
  </div>
  <div id="friends-selector" class="fright">
    <div id="message">
      Select
      {{ friendsToSelectNo() - 1 < 0 ? "0" : friendsToSelectNo() }}
      friends
    </div>
    <div class="friends overflow-hidden">
      <!-- 


       -->
      <div class="form-group overflow-hidden">
        <input
          type="text"
          id="firstName"
          class="form-control fleft"
          placeholder="First name"
        />

        <input
          type="text"
          autocomplete="off"
          id="lastName"
          class="form-control fleft"
          placeholder="Last name"
        />

        <input
          type="text"
          autocomplete="off"
          id="email"
          class="form-control fleft"
          placeholder="Email"
        />

        <input
          type="text"
          autocomplete="off"
          id="passportNo"
          class="form-control fleft"
          placeholder="Passport no."
        />

        <!-- <select class="form-control fleft" id="seatNo">
          <option value="*">Seat</option>
          <option value="34">34</option>
        </select> -->

        <button class="btn-success fleft" (click)="addGuest()">Add</button>
      </div>
      <!-- 


       -->
      <div
        *ngFor="let user of users; let i = index"
        class="friend overflow-hidden"
        (click)="onCheck($event, user)"
      >
        <div id="userId{{ i }}" class="fleft uncheck">
          {{ user?.firstName + " " + user?.lastName }}
        </div>
      </div>
    </div>

    <div class="overflow-hidden">
      <button
        class="btn btn-success fright"
        (click)="finishAirlineReservation()"
      >
        Finish airline reservation
      </button>
      <div id="rent-a-car" class="fright">
        <label>Do you want rent a car?</label>

        <input
          type="checkbox"
          [checked]="takeRentACar"
          (change)="proceedToRentACar()"
        />
      </div>
      <!-- fali metoda (click)="finish()" -->
    </div>
  </div>
</div>
<div id="cars" class="finishDiv">
  <app-car-reservation
    style="padding-top: 30vw"
    [carOffers]="carOffers"
  ></app-car-reservation>
</div>
