<div class="wrapper">
  <h2 class="fleft">Choose your seats!</h2>

  <div id="seat-picker" class="fleft overflow-hidden">
    <app-display-seats [currentSeatConfig]="flight?.seatConfiguration">
    </app-display-seats>
  </div>
  <div id="friends-selector" class="fright">
    <div id="message">
      Select
      {{ selectedSeats?.length < 1 ? 0 : selectedSeatsNo - 1 }} friends
    </div>
    <div class="friends">
      <div
        *ngFor="let user of users"
        class="friend overflow-hidden"
        (click)="onCheck($event, user)"
      >
        <div class="fleft uncheck">
          {{ user?.firstName + " " + user?.lastName }}
        </div>
      </div>
    </div>

    <div class="overflow-hidden">
      <button
        class="btn btn-success fright"
        (click)="finishAirlineReservation()"
      >
        Finish airline reservation
      </button>
      <div id="rent-a-car" class="fright">
        <label>Do you want rent a car?</label>

        <input
          type="checkbox"
          [checked]="takeRentACar"
          (change)="proceedToRentACar()"
        />
      </div>
      <!-- fali metoda (click)="finish()" -->
    </div>
  </div>
</div>
