<div id="header">
  <nav class="box transform fright">
    <div id="navigation" class="fleft display-none">
      <div class="fleft">
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="flights">Flights</a></li>
          <li><a routerLink="">Rent a car</a></li>
        </ul>
      </div>
      <div class="fright">
        <ul>
          <li><a routerLink="profile">Profile</a></li>
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="register">Registration</a></li>
        </ul>
      </div>
    </div>

    <div id="nav-icon" class="fright" (click)="onClick($event)"></div>
  </nav>
</div>
