#border {
  padding: 1vw 0;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
nav {
  width: 100%;
  margin-top: 2.5vw;
  margin-right: 2%;
  border-radius: 10px;
  letter-spacing: 0.1vw;
  background-color: #43309a;
  cursor: pointer;
  opacity: 0.9;
}
#nav-icon {
  width: 4.2vw;
  height: 4.2vw;
  background-image: url("../../assets/site/menu.png");
  background-size: cover;
}
#navigation {
  position: fixed;
  width: 90%;
  height: 4vw;
}
#navigation li {
  height: 4.2vw;
}
#navigation li img {
  height: 2vw;
  margin-top: 1.1vw;
  margin-left: 1vw;
}
#notifications {
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
#notifications img {
  padding: 0 1vw 0 0;
}
#notifications span {
  position: absolute;
  border-radius: 0.6vw;
  padding: 0.2vw 0.4vw;
  font-size: 0.9vw;
  left: 2.1vw;
  top: -0.8vw;
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#notifications #notifications-list {
  position: absolute;
  top: 3.8vw;
  left: -19vw;
  width: 25vw;
  height: 30vw;
  padding: 2.5vw 0.2vw;
  display: none;
  /* background-color: red; */
  background-image: url("../../assets/site/notification.png");
  background-size: cover;
  color: #fff;
}
#viewport {
  overflow: auto;
  width: 100%;
  height: 100%;
}
#viewport div {
  margin: 0 auto;
  font-size: 4px !important;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#notifications div a {
  width: 2vw;
  margin: 0 0.2vw;
}
#notifications div a:first-of-type {
  width: 16vw;
}

#navigation div:first-of-type a {
  color: #fff;
}

#navigation div:first-of-type a:hover {
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: 1.3vw 0.8vw;
  font-size: 1.1vw;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
nav ul li a:hover {
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding-top: 1.4vw;
  border-radius: 10px;
}
.box {
  height: 4.2vw;
  width: 4.2vw;
}

.transform {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transform-active {
  background-color: rgba(67, 48, 154, 1);
  height: 4.2vw;
  width: 96%;
}
.display-none {
  display: none;
}
.border-separators {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
