<div id="header">
  <nav class="box transform transform-active fright">
    <div id="navigation" class="fleft">
      <div class="fleft">
        <ul>
          <li>
            <img src="../../assets/site/icons/home-white.png" class="fleft" />
            <a routerLink="home" class="fleft">Home</a>
          </li>
          <li class="border-separators">
            <img src="../../assets/site/icons/plane-white.png" class="fleft" />
            <a routerLink="flights" class="fleft">Flights</a>
          </li>
          <li>
            <img src="../../assets/site/icons/car-white.png" class="fleft" />
            <a routerLink="" class="fleft">Rent a car</a>
          </li>
          <!--Odluciti da li da bude padajuci meni ili samo link ka slider stranici-->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="companies"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Companies
            </a>
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">AirLines</a>
              <a class="dropdown-item" href="#">Car companies</a>
            </div> -->
          </li>
        </ul>
      </div>

      <div class="fright">
        <ul>
          <li>
            <img src="../../assets/face.png" class="fleft" />
            <a routerLink="admin-panel" class="fleft">Admin panel</a>
          </li>
          <li>
            <img src="../../assets/face.png" class="fleft" />
            <a routerLink="profile" class="fleft">Profile</a>
          </li>
          <li class="border-separators">
            <img src="../../assets/site/icons/lock-white.png" class="fleft" />
            <a routerLink="login" class="fleft">Login</a>
          </li>
          <li>
            <img
              src="../../assets/site/icons/registration-white.png"
              class="fleft"
            />
            <a routerLink="register" class="fleft">Registration</a>
          </li>
          <li id="notifications" (click)="onNotificationClick()">
            <span>5</span>
            <img src="../../assets/site/icons/bell-white.png" class="fleft" />

            <div id="notifications-list">
              <div id="viewport">
                <div class="overflow-hidden">
                  <a routerLink="" class="fleft"
                    >Vukasin Radic te je pozvao na putovanje!</a
                  >
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/check.png" />
                  </a>
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/cancel.png"
                  /></a>
                </div>

                <div class="overflow-hidden">
                  <a routerLink="" class="fleft"
                    >Aleksandar Novakovic salje pozivnicu za prijateljstvo!</a
                  >
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/check.png" />
                  </a>
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/cancel.png"
                  /></a>
                </div>

                <div class="overflow-hidden">
                  <a routerLink="" class="fleft"
                    >Vukasin Radic te je pozvao na putovanje!</a
                  >
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/check.png" />
                  </a>
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/cancel.png"
                  /></a>
                </div>

                <div class="overflow-hidden">
                  <a routerLink="" class="fleft"
                    >Vukasin Radic te je pozvao na putovanje!</a
                  >
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/check.png" />
                  </a>
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/cancel.png"
                  /></a>
                </div>

                <div class="overflow-hidden">
                  <a routerLink="" class="fleft"
                    >Vukasin Radic te je pozvao na putovanje!</a
                  >
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/check.png" />
                  </a>
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/cancel.png"
                  /></a>
                </div>

                <div class="overflow-hidden">
                  <a routerLink="" class="fleft"
                    >Vukasin Radic te je pozvao na putovanje!</a
                  >
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/check.png" />
                  </a>
                  <a routerLink="" class="fleft">
                    <img src="../../assets/site/icons/cancel.png"
                  /></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="nav-icon" class="fright" (click)="onClick($event)"></div>
  </nav>
</div>
