#form {
  margin-bottom: 2vw;
}
#form > input[type="file"] {
  display: none;
}
#preview {
  margin: 0 1vw;
  width: 2.8vw;
  height: 2.8vw;
  background-image: url("../../../../../assets/site/icons/services.png");
  background-size: 2.8vw 2.8vw;
  background-repeat: no-repeat;
}
.form-control {
  width: 30vw;
}

.item {
  background-color: #fff;
  color: #513f9f;
  display: inline-block;
  padding: 0.5vw;
  margin: 0.2vw 0.3vw;
}
.item span {
  padding: 0 0.5vw;
  font-size: 1.2vw;
}
.item img {
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 0.2vw;
}
